html{
    height:100%;
    margin:0;
    background-color: aliceblue;
}
body{
    height:100%;
    margin:0;
    background-color: aliceblue;
    position: relative;
    min-height: 100vh;

}

 main{
     
    padding-top:200px;
    margin:0 auto;
    /* this what makes footer stay at bottom always */
    
    
} 
footer {

    text-align: center;
    background-color:lavender;
    position: absolute;
    bottom:0;
    width:100%
   

}
#navContainer{
    margin:auto;
    border-style:solid;
    border-width:5px;
}

/* styling for contact page  */

#contactMessage{
    height:300px;
    width:600px;
}